/* Общие стили для body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative; /* Для позиционирования внутренних элементов */
}

/* Контейнер для формы */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Заголовки */
h1, h2 {
    margin-bottom: 20px;
}

/* Стили для надписи "Tandem Print" */
#tandemTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Стили для полей ввода и кнопок */
input[type="text"], input[type="tel"], input[type="number"], select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Кнопка отправки */
button {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Стили для флагов языка */
#language-selector {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    flex-wrap: wrap; /* Чтобы флаги переносились на следующую строку на маленьких экранах */
}

#language-selector img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Ограничение размеров флагов для маленьких экранов */
@media (max-width: 600px) {
    #language-selector img {
        width: 25px;
        height: 25px;
    }

    #language-selector {
        top: 5px;
        left: 5px;
        gap: 5px; /* Уменьшаем промежутки между флагами */
    }
}

/* Центрирование всех элементов внутри контейнера */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Стили для поля результата */
#result {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

/* Добавляем стиль для заголовка регистрации заказа */
#registrationTitle {
    font-size: 30px; /* Увеличиваем размер шрифта */
    font-weight: bold;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    input[type="text"], input[type="tel"], input[type="number"], select, button {
        font-size: 14px;
        padding: 8px;
    }

    #registrationTitle {
        font-size: 24px;
    }

    #tandemTitle {
        font-size: 20px;
    }
}
